

<h1>Your currently playing against <span><%=@user_game.creator%></span></h1>

<h2>Here we go...</h2>
<img src="/img/start_page_images/<%=random_gif%>"/>


<h2>Once <span><%=@user_game.creator%></span> has submitted their cells, <a href="/game/<%=@id%>">PRESS HERE AT THE SAME TIME TO START!</h2></a>