<a href="/start" style="position: absolute; right: 20px; top: 40px"><h4>Home</h4></a>
<a href="/pause" style="position: absolute; right: 20px; top: 70px"><h4>Pause</h4></a>
<h4 style="position: absolute; left: 20px; top: 40px">Tick Count: <%=@world.tick_count%></h4>
<%=@game_over%>
<div id="container">
<%@graph.each do |x|%>
  <br>
  <%x.each do |cell|%>
    <div class="cell" style="<%=color_cell(cell)%>"></div>
  <%end%>
<%end%>
  <div id="hidden"><%= @pause %></div>
</div>