

/*.cell {
	width: 20px;
	height: 20px;
	background-color: white;
	border: 1px solid black;
	position: absolute;
}*/

body {
	background-color: black;
}

#container {
	display: inline-block;
	width: 500;
	height: 500;
	margin: 0 auto;
}

/*.cell {
    background-color:green;
    border: 1px solid black;
    float: left;
    width: 20px;
    height:20px;
    top: 20;
    left: 20;
}*/

.cell {
    background-color: green;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 20;
    left: 20;
}


.break {
margin: 2px    
}

input[type=checkbox] {
    display: inline-block;
}
